<div class="row">
  <div class="col-8">
    <% @posts.each do |post| %>
      <div class="insta-post">
        <div class="post-meta" >
          <% if post.account.image_url %>
            <%= link_to image_tag(post.account.image.thumb.url, 
              class: "rounded-circle mr-3"), 
              profile_path(post.account.username) %>
            <%= link_to post.account.username, 
              profile_path(post.account.username), class: "text-dark" %>
          <% end %>
        </div>
       
        <% if post.image_url %>
        <p>
          <%= link_to post do %>
            <%= image_tag post.image_url, class: "img-fluid" %>
          <% end %>
        </p>
        <% end %>
      

        <div class="post-details">

          <div class="post-actions">
            <i class="fa fa-heart like-<%= post.id %> <%= 'active' if post_liked_by_user?(post.id) %> fa-2x post-like" data-id="<%= post.id %>"></i>

            <%= link_to post_path(post.id) do %>
              <i class="fa fa-comment fa-2x post-comment"></i>
            <% end %>
          </div>

          <p><strong id="post-<%=post.id %>-likes"><%= post.total_likes_count %> likes </strong></p>
          <strong id="post-<%= post.id %>-comments"><%= link_to post.account.username, 
            profile_path(post.account.username), class: "text-dark" %></strong>
          <%= simple_format post.description %>

          <p class="text-muted">
            <%= time_ago_in_words post.created_at %> ago
          </p>

          <div>
            <%= render "posts/comments", post: post, comments: @comments %>
          </div>
        </div>

        <div class="comment-box">
          <%= form_for @comment do |f| %>
            <%= f.hidden_field :post_id, value: post.id %>
            <div class="input-group">
              <%= f.text_field :comment, placeholder: "Add comment here...",
                class: "form-control post-comment-control" %>
              <div class="input-group-prepend">
                <%= f.submit "Post", class: "btn btn-success float-right" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-4">
    <div class="account-summary">
      <p class="m-0">
          <%= link_to image_tag(current_account.image.thumb.url, 
            class: "rounded-circle mr-3 float-left"), 
            profile_path(current_account.username) if current_account.image.present? %>
        <strong><%= current_account.username%></strong><br>
        <%= current_account.full_name %>
      </p>
    </div>
    <div class="follower-suggestions">
      <%= link_to "View All", "#", class: "float-right text-muted" %>
      <p class="text-muted"><strong>Suggestions for you</strong></p>
      <%= render "accounts/follower_suggestions" %>
    </div>
  </div>
</div>
