<div class="container">
  <div class="row">
    <div class="col-8">
      <% @posts.each do |post| %>
        <div class="insta-post">
          <div class="post-meta" >
            <% if post.image_url %>
              <%= link_to image_tag(post.account.image.thumb.url, 
                class: "rounded-circle mr-3"), 
                profile_path(post.account.username) %>
              <%= link_to post.account.username, 
                profile_path(post.account.username), class: "text-dark" %>
            <% end %>
          </div>
          
          <% if post.image_url %>
            <%= image_tag post.image_url, class: "img-fluid" %>
          <% end %>

          <div class="post-details">

            <div class="post-actions">
              <i class="fa fa-heart like-<%= post.id %> <%= 'active' if post_liked_by_user?(post.id) %> fa-2x post-like" data-id="<%= post.id %>"></i>
              <i class="fa fa-comment fa-2x post-comment"></i>
            </div>

            <p><strong id="post-<%=post.id %>-likes"><%= post.total_likes_count %> likes </strong></p>
            <strong id="post-<%= post.id %>-comments"><%= link_to post.account.username, 
              profile_path(post.account.username), class: "text-dark" %></strong>
            <%= simple_format post.description %>

            <p class="text-muted">
              <%= time_ago_in_words post.created_at %> ago
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-4">
      <div class="account-summary">
        <p>
          <strong>
            <%= link_to image_tag(current_account.image.thumb.url, 
              class: "rounded-circle mr-3"), 
              profile_path(current_account.username) if current_account.image.present? %>
          </strong>
          <strong><%= current_account.username%></strong><br>
          <%= current_account.full_name %>
        </p>
      </div>
      <div class="follower-suggestions">
        <%= link_to "View All", "#", class: "float-right text-muted" %>
        <p class="text-muted"><strong>Suggestions for you</strong></p>
        <%= render "accounts/follower_suggestions" %>
      </div>
    </div>
  </div>
</div>
